openapi: 3.2.0
info:
  title: Clinic Connect Conta API
  version: 1.0.0
  description: Esta API permite a integração com o sistema Clinic por meio do Clinic Connect, facilitando a comunicação e o compartilhamento de dados entre plataformas.
servers:
- url: https://api.globalhealth.mv/clinic-connect/api/
  description: Ambiente de PRODUÇÃO
- url: https://api.globalhealth.mv/hml/clinic-connect/api/
  description: Ambiente de HOMOLOGAÇÃO
- url: https://api.globalhealth.mv/qa/clinic-connect/api/
  description: Ambiente de QA
security:
- x-api-key: []
tags:
- name: Conta
paths:
  /v1/subscriptions:
    post:
      tags:
      - Conta
      summary: Criar conta Clinic Connect
      description: Endpoint responsável pela criação de contas no Clinic Connect, permitindo o registro de novas integrações com o sistema Clinic.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectSubscriptionDTO'
      responses:
        '201':
          description: Conta cadastrada com sucesso.
        '400':
          description: Requisição inválida. Verifique os dados enviados.
        '500':
          description: Erro interno do servidor.
components:
  schemas:
    TermCboConnectDTO:
      type: object
      properties:
        termCode:
          type: string
    ConnectSubscriptionDTO:
      type: object
      properties:
        externalId:
          type: integer
          format: int32
        identificationNumber:
          type: string
        accessCode:
          type: string
        clientKey:
          type: string
        email:
          type: string
          format: email
        login:
          type: string
        name:
          type: string
        password:
          type: string
          format: password
        phone:
          type: string
        termCbo:
          $ref: '#/components/schemas/TermCboConnectDTO'
        accreditation:
          $ref: '#/components/schemas/EmployeeAccreditationDTO'
    EmployeeAccreditationDTO:
      type: object
      properties:
        accreditationType:
          type: string
          example: CRM
        accreditationState:
          type: string
          example: PE
        accreditationNumber:
          type: string
          example: '123456'
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
