openapi: 3.0.0
info:
  title: Clinic Agenda Agendamento Convênios API
  version: 1.0.0
  description: Esta API permite consultar as agendas disponíveis no sistema Clinic, retornando informações sobre dias e horários que possuem disponibilidade para agendamento.
servers:
- url: https://api.globalhealth.mv/available-appointments/api
  description: Ambiente de PRODUÇÃO
- url: https://api.globalhealth.mv/hml/available-appointments/api
  description: Ambiente de HOMOLOGAÇÃO
- url: https://api.globalhealth.mv/qa/available-appointments/api
  description: Ambiente de QA
security:
- x-api-key: []
tags:
- name: Convênios
paths:
  /v1/insurances:
    post:
      summary: Criar ou alterar dados de convênios.
      description: Endpoint responsável por criar ou atualizar convênios, permitindo o gerenciamento centralizado das operadoras de saúde vinculadas ao sistema.
      parameters: []
      tags:
      - Convênios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectInsuranceDTO'
      responses:
        '201':
          description: Convênio criado com sucesso
        '400':
          description: Requisição inválida
        '500':
          description: Erro interno do servidor
    get:
      summary: Consultar convênios.
      description: Endpoint que retorna uma lista de convênios com base nos filtros informados, facilitando a localização e o gerenciamento das operadoras cadastradas.
      tags:
      - Convênios
      parameters:
      - name: id
        in: query
        schema:
          type: integer
          format: int64
        description: ID do Clinic
      - name: externalId
        in: query
        required: false
        schema:
          type: string
        description: ID externo
      - name: subscriptionId
        in: query
        required: true
        schema:
          type: string
        description: ID da conta Clinic Connect
      responses:
        '200':
          description: Lista de seguros retornada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConnectInsuranceDTO'
        '400':
          description: Parâmetros de filtro inválidos
        '500':
          description: Erro interno do servidor
  /v1/health-plan:
    get:
      tags:
      - Convênios
      summary: Buscar planos de saúde (convênios)
      description: Retorna uma lista paginada de convênios, com filtros opcionais por nome e código ANS.
      parameters:
      - name: name
        in: query
        description: Nome do plano ou operadora
        schema:
          type: string
      - name: ansCode
        in: query
        description: Código de registro na ANS
        schema:
          type: string
      - name: page
        in: query
        description: Página atual da listagem
        schema:
          type: integer
      - name: size
        in: query
        description: Quantidade de registros por página
        schema:
          type: integer
      responses:
        '200':
          description: Operação realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HealthPlanDTO_2'
        '401':
          description: Operação não autorizada.
        '403':
          description: Proibido.
        '404':
          description: Não encontrado.
        '500':
          description: Erro interno.
components:
  schemas:
    SimpleIdDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        externalId:
          type: string
    TissVersion:
      type: string
      description: Versão TISS
      enum:
      - V3_03_03
      - V3_05_00
      - V4_00_00
      - V4_00_01
      - V4_01_00
      example: V4_01_00
    ConnectInsuranceDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        subscription:
          $ref: '#/components/schemas/SimpleIdDTO'
        name:
          type: string
        tissVersion:
          $ref: '#/components/schemas/TissVersion'
        endpointAuthorization:
          type: string
        healthPlan:
          $ref: '#/components/schemas/HealthPlanDTO'
        lack:
          type: integer
          format: int32
        activated:
          type: boolean
        healthAutomation:
          type: boolean
        providerGuideIndexNumber:
          type: integer
          format: int64
        healthAutomationUnitCnes:
          type: string
        onlineSchedulingPresencialAppointment:
          type: boolean
          default: false
        onlineSchedulingTeleHealth:
          type: boolean
          default: false
        maxExamsPerGuide:
          type: integer
          format: int32
        healthPlanTypes:
          type: array
          items:
            $ref: '#/components/schemas/InsuranceHealthPlanTypeDTO'
        accessRule:
          type: string
        externalId:
          type: integer
          format: int64
    HealthPlanDTO_2:
      type: object
      description: Dados do convênio (plano de saúde) vinculado à linha de regulação.
      properties:
        id:
          type: integer
        name:
          type: string
          example: Unimed Prata
        ansCode:
          type: string
          example: '185657'
        active:
          type: boolean
          example: true
        insuranceType:
          type: string
          example: ANS
        picture:
          type: string
        maxExamsPerGuide:
          type: integer
    HealthPlanDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: Unimed Prata
        ansCode:
          type: string
          example: '185657'
        active:
          type: boolean
          default: true
        lack:
          type: string
        insuranceType:
          type: string
          enum:
          - ANS
          - PRIVATE
          - SUS
          - ORIGIN
          example: ANS
        picture:
          type: string
        maxExamsPerGuide:
          type: integer
          format: int32
    InsuranceHealthPlanTypeDTO:
      type: object
      required:
      - name
      - ansCode
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        ansCode:
          type: string
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
