openapi: 3.2.0
info:
  title: 'Personal Health : Atendimentos Attendance API'
  version: 1.0.0
  description: Esta API permite o consumo dos recursos do módulo Personal Health, especificamente relacionados à atendimentos dos pacientes.
servers:
- url: https://api.globalhealth.mv/hml/personal-health/api
  description: Ambiente de HOMOLOGAÇÃO
- url: https://api.globalhealth.mv/prod/personal-health/api
  description: Ambiente de PRODUÇÃO
tags:
- name: Attendance
paths:
  /v1/attendance:
    get:
      tags:
      - Attendance
      summary: Buscar atendimentos
      description: Busca uma lista de atendimentos utilizando as opções de filtros disponíveis
      operationId: byFilter
      parameters:
      - name: documentId
        in: query
        description: 'Documento do paciente (ex: CPF)'
        required: false
        schema:
          type: string
          example: '12345678901'
      - name: login
        in: query
        description: Login do paciente
        required: false
        schema:
          type: string
          example: fulano@exemplo.com
      - name: status
        in: query
        description: Status do atendimento
        required: false
        schema:
          type: string
          enum:
          - VALID
          - INVALID
          - DISCARDED
          - WAITING_USER
          - USER_NOT_IDENTIFIED
          - MISSING_CONFIGURATION
          - NOT_AUTHORIZED
          example: VALID
      - name: page
        in: query
        description: Número da página (zero-based)
        required: false
        schema:
          type: integer
          default: 0
      - name: size
        in: query
        description: Quantidade de registros por página
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Lista de atendimentos retornada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttendanceHealthConnectedDTO'
        '401':
          description: Não autorizado
        '500':
          description: Erro interno do servidor
      security:
      - api_key: []
components:
  schemas:
    AttendanceHealthConnectedDTO:
      type: object
      description: Dados do atendimento provenientes da integração legada Health Connected
      properties:
        id:
          type: integer
          format: int64
          description: Identificador único do atendimento
        createdDate:
          type: string
          description: Data de criação do registro
        product:
          type: string
          description: Produto associado ao atendimento
        ansCode:
          type: string
          description: Código ANS do plano de saúde
        dateOfBirth:
          type: string
          description: Data de nascimento do paciente
        cidCode:
          type: string
          description: Código CID do diagnóstico
        clientKey:
          type: string
          description: Chave do cliente (estabelecimento)
        initDate:
          type: string
          description: Data de início do atendimento
        endDate:
          type: string
          description: Data de fim do atendimento
        initDateMillis:
          type: integer
          format: int64
          description: Data de início do atendimento em milissegundos
        endDateMillis:
          type: integer
          format: int64
          description: Data de fim do atendimento em milissegundos
        integrationCode:
          type: string
          description: Código de integração do atendimento
        integrationSource:
          type: string
          description: Fonte de integração do atendimento
        status:
          type: string
          description: Status do atendimento
          enum:
          - VALID
          - INVALID
          - DISCARDED
          - WAITING_USER
          - USER_NOT_IDENTIFIED
          - MISSING_CONFIGURATION
          - NOT_AUTHORIZED
        statusMessage:
          type: string
          description: Mensagem de status do atendimento
        type:
          type: string
          description: Descrição do tipo do atendimento
        typeValue:
          type: string
          description: Código do tipo do atendimento
          enum:
          - A
          - U
          - E
          - H
          - I
          - M
        login:
          type: string
          description: Login do paciente
        operation:
          type: string
          description: Operação realizada
        establishmentId:
          type: string
          description: Identificador do estabelecimento
        establishmentName:
          type: string
          description: Nome do estabelecimento
        establishmentCNES:
          type: string
          description: CNES do estabelecimento
        attendanceUnit:
          type: string
          description: Unidade de atendimento
        service:
          type: string
          description: Serviço prestado
        specialityName:
          type: string
          description: Nome da especialidade
        healthPractitioner:
          type: string
          description: Nome do profissional de saúde
        accreditationNumber:
          type: string
          description: Número de acreditação do profissional
        accreditation:
          type: string
          description: 'Tipo de acreditação do profissional (ex: CRM-SP)'
        cidVersion:
          type: string
          description: Versão do CID utilizada
        cidDescription:
          type: string
          description: Descrição do CID
        healthInsuranceId:
          type: string
          description: Identificador do plano de saúde
        healthInsuranceName:
          type: string
          description: Nome do plano de saúde
        procedureType:
          type: string
          description: 'Tipo do procedimento realizado (ex: TUSS)'
        procedureId:
          type: string
          description: Identificador do procedimento
        procedureDescription:
          type: string
          description: Descrição do procedimento
        documentType:
          type: string
          description: Tipo do documento do paciente
        documentId:
          type: string
          description: 'Número do documento do paciente (ex: CPF)'
        death:
          type: boolean
          description: Indica se o paciente foi a óbito
        observation:
          type: string
          description: Observações do atendimento
        exams:
          type: array
          description: Lista de exames vinculados ao atendimento
          items:
            $ref: '#/components/schemas/ExamHealthConnectedProtocolDTO'
        surgeries:
          type: array
          description: Lista de cirurgias vinculadas ao atendimento
          items:
            $ref: '#/components/schemas/SurgeryRequestProtocolDTO'
        medicalRecords:
          type: array
          description: Lista de prontuários médicos vinculados ao atendimento
          items:
            $ref: '#/components/schemas/MedicalRecordProtocolDTO'
        records:
          type: array
          description: Lista de registros pessoais vinculados ao atendimento
          items:
            $ref: '#/components/schemas/PersonalRecordProtocolDTO'
    PersonalRecordProtocolDTO:
      type: object
      description: Registro pessoal vinculado ao atendimento
      properties:
        id:
          type: integer
          format: int64
          description: Identificador único do registro
        title:
          type: string
          description: Título do registro
        urlRecord:
          type: array
          description: Lista de URLs dos arquivos do registro
          items:
            type: string
    SurgeryRequestProtocolDTO:
      type: object
      description: Dados de uma cirurgia vinculada ao atendimento
      properties:
        surgeryDate:
          type: string
          description: Data da cirurgia
        surgeryWarningId:
          type: string
          description: Identificador do aviso de cirurgia
        surgeryId:
          type: string
          description: Identificador da cirurgia
        tussProcedureId:
          type: string
          description: Identificador do procedimento TUSS
        surgeryDescription:
          type: string
          description: Descrição da cirurgia
        mainSurgeon:
          type: string
          description: Nome do cirurgião principal
        accreditationNumber:
          type: string
          description: Número de acreditação do cirurgião
        accreditation:
          type: string
          description: Tipo de acreditação do cirurgião
    ExamHealthConnectedProtocolDTO:
      type: object
      description: Dados do exame vinculado ao atendimento
      properties:
        attendanceId:
          type: integer
          format: int64
          description: Identificador do atendimento ao qual o exame pertence
        examIntegrationId:
          type: string
          description: Identificador de integração do exame
        examType:
          type: string
          description: 'Tipo do exame: I (Imagem), L (Laboratório), M (Manual)'
          enum:
          - I
          - L
          - M
        examRequisitionId:
          type: string
          description: Identificador da requisição do exame
        examRequisitionDate:
          type: string
          description: Data da requisição do exame
        collectDate:
          type: string
          description: Data de coleta do exame
        examResultDate:
          type: string
          description: Data do resultado do exame
        healthInsuranceId:
          type: string
          description: Identificador do plano de saúde
        healthInsuranceName:
          type: string
          description: Nome do plano de saúde
        ansCode:
          type: string
          description: Código ANS do plano de saúde
        attendanceUnit:
          type: string
          description: Unidade de atendimento
        establishmentId:
          type: string
          description: Identificador do estabelecimento
        establishmentCNES:
          type: string
          description: CNES do estabelecimento
        establishmentName:
          type: string
          description: Nome do estabelecimento
        orderingPhysician:
          type: string
          description: Médico solicitante
        orderingPhysicianAccreditationNumber:
          type: string
          description: Número de acreditação do médico solicitante
        orderingPhysicianAccreditation:
          type: string
          description: Tipo de acreditação do médico solicitante
        reporterPhysician:
          type: string
          description: Médico laudante
        reporterPhysicianAccreditationNumber:
          type: string
          description: Número de acreditação do médico laudante
        reporterPhysicianAccreditation:
          type: string
          description: Tipo de acreditação do médico laudante
        examCode:
          type: string
          description: Código do exame
        examLoincCode:
          type: string
          description: Código LOINC do exame
        examTussCode:
          type: string
          description: Código TUSS do exame
        examLoincMvCode:
          type: string
          description: Código LOINC MV do exame
        examDescription:
          type: string
          description: Descrição do exame
        examMethod:
          type: string
          description: Método do exame
        examSpecimen:
          type: string
          description: Espécime do exame
        accessNumber:
          type: string
          description: Número de acesso do exame
        modality:
          type: string
          description: 'Modalidade do exame (ex: RX, TC, RM)'
        metadata:
          type: string
          description: Metadados adicionais do exame
        resultUrl:
          type: string
          description: URL do resultado do exame
        dicomUrl:
          type: string
          description: URL do arquivo DICOM do exame
        discard:
          type: boolean
          description: Indica se o exame foi descartado
        resultUrlType:
          type: string
          description: Tipo da URL do resultado
        examFields:
          type: array
          description: Campos adicionais do exame
          items:
            $ref: '#/components/schemas/ExamFieldHealthConnectedProtocolDTO'
    MedicalRecordProtocolDTO:
      type: object
      description: Dados de um prontuário médico vinculado ao atendimento
      properties:
        id:
          type: integer
          format: int64
          description: Identificador único do prontuário
        createdDate:
          type: string
          description: Data de criação do prontuário
        accreditation:
          type: string
          description: Tipo de acreditação do profissional
        accreditationNumber:
          type: string
          description: Número de acreditação do profissional
        healthProfessional:
          type: string
          description: Nome do profissional de saúde
        medicalRecordFileName:
          type: string
          description: Nome do arquivo do prontuário
        medicalRecordFile:
          type: string
          description: Conteúdo do arquivo do prontuário (base64)
        medicalRecordId:
          type: string
          description: Identificador do prontuário
        medicalRecordName:
          type: string
          description: Nome do prontuário
        medicalRecordType:
          type: string
          description: Tipo do prontuário
        medicalRecordCode:
          type: string
          description: Código do prontuário
        healthProfessionalSharing:
          type: string
          description: Compartilhamento com profissional de saúde
        personalHealthSharing:
          type: string
          description: Compartilhamento com Personal Health
        signatureDate:
          type: string
          description: Data de assinatura do prontuário
        status:
          type: string
          description: Status do prontuário
        statusMessage:
          type: string
          description: Mensagem de status do prontuário
        idObject:
          type: string
          description: Identificador do objeto associado
    ExamFieldHealthConnectedProtocolDTO:
      type: object
      description: Campo adicional de um exame
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
