openapi: 3.2.0
info:
  title: Clinic Connect Planos Obstétricos API
  version: 1.0.0
  description: Esta API permite a integração com o sistema Clinic por meio do Clinic Connect, facilitando a comunicação e o compartilhamento de dados entre plataformas.
servers:
- url: https://api.globalhealth.mv/clinic-connect/api/
  description: Ambiente de PRODUÇÃO
- url: https://api.globalhealth.mv/hml/clinic-connect/api/
  description: Ambiente de HOMOLOGAÇÃO
- url: https://api.globalhealth.mv/qa/clinic-connect/api/
  description: Ambiente de QA
security:
- x-api-key: []
tags:
- name: Planos Obstétricos
paths:
  /v1/obstetric-plans:
    get:
      tags:
      - Planos Obstétricos
      summary: Consultar planos obstétricos.
      description: Endpoint utilizado para buscar planos obstétricos com base em filtros específicos, permitindo consultas direcionadas conforme os critérios informados
      parameters:
      - name: identificationNumber
        in: query
        schema:
          type: string
        description: CPF da gestante utilizado como critério de filtragem
      - name: page
        in: query
        schema:
          type: integer
        description: Número da página da consulta
      - name: size
        in: query
        schema:
          type: integer
        description: Quantidade de registros por página
      - name: sort
        in: query
        schema:
          type: string
        description: 'Critério de ordenação dos resultados (ex.: name,asc ou date,desc)'
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ObstetricPlanConnectDTO'
        '400':
          description: Requisição inválida. Verifique os dados enviados.
        '500':
          description: Erro interno do servidor.
components:
  schemas:
    PregnancyRisk:
      type: string
      enum:
      - HABITUAL
      - HIGH
      description: 'Indica o risco da gestação: habitual ou alto risco'
      example: HABITUAL
    ObstetricPlanConnectDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        identificationType:
          type: string
        identificationNumber:
          type: string
        patientName:
          type: string
        employeeName:
          type: string
        dum:
          type: string
          format: date-time
        pregnancyRisk:
          $ref: '#/components/schemas/PregnancyRisk'
        comorbidities:
          type: array
          items:
            $ref: '#/components/schemas/PatientComorbiditiesSimpleDTO'
        obstetricDiseases:
          type: array
          items:
            $ref: '#/components/schemas/PatientObstetricDiseasesSimpleDTO'
    PatientObstetricDiseasesSimpleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        obstetricDiseasesName:
          type: string
        cid:
          type: string
        cidDescription:
          type: string
        statusMed:
          $ref: '#/components/schemas/PatientObstetricDiseasesStatus'
        statusPatient:
          $ref: '#/components/schemas/PatientObstetricDiseasesStatus'
    PatientObstetricDiseasesStatus:
      type: string
      enum:
      - WAITING_VALIDATION
      - VALIDATED
      - VALIDATED_BY_EMPLOYEE
      description: Status da doença obstétrica
    PatientComorbiditiesStatus:
      type: string
      enum:
      - WAITING_VALIDATION
      - VALIDATED
      - VALIDATED_BY_EMPLOYEE
      description: Status da comorbidade
    PatientComorbiditiesSimpleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        comorbidityName:
          type: string
        cid:
          type: string
        cidDescription:
          type: string
        statusMed:
          $ref: '#/components/schemas/PatientComorbiditiesStatus'
        statusPatient:
          $ref: '#/components/schemas/PatientComorbiditiesStatus'
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
