openapi: 3.2.0
info:
  title: 'Personal Health : Atendimentos Presigned API'
  version: 1.0.0
  description: Esta API permite o consumo dos recursos do módulo Personal Health, especificamente relacionados à atendimentos dos pacientes.
servers:
- url: https://api.globalhealth.mv/hml/personal-health/api
  description: Ambiente de HOMOLOGAÇÃO
- url: https://api.globalhealth.mv/prod/personal-health/api
  description: Ambiente de PRODUÇÃO
tags:
- name: Presigned
paths:
  /v1/authorizer/url/presigned:
    post:
      tags:
      - Presigned
      summary: Pré-assina URL
      description: Endpoint responsável por gerar uma url pré-assinada (com um token temporário) para acesso de algum documento.
      security:
      - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlDTO'
      responses:
        '200':
          description: sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlDTO'
        '400':
          description: Requisição inválida. Verifique os dados enviados.
        '500':
          description: Erro interno do servidor.
components:
  schemas:
    UrlDTO:
      type: object
      description: URL para presigned
      properties:
        url:
          type: string
          description: URL
          example: https://s3.amazonaws.com/bucket/CONEXAO/DOCELE_12345_67890.pdf
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
