openapi: 3.2.0
info:
  title: para Gestão de Eventos Parametrização API
  description: ' A utilização das APIs públicas está condicionada à existência de um contrato ativo. É importante destacar que todas as URLs descritas nesta documentação devem ser acessadas mediante o uso de uma chave de cliente (x-api-key) enviada no cabeçalho da requisição. Essa chave é fornecida exclusivamente pelo responsável técnico encarregado de atender o cliente.'
  version: 1.1.5
servers:
- url: https://api.globalhealth.mv/prod/event-checkin
  description: Ambiente de PRODUÇÃO
- url: https://api.globalhealth.mv/dem/event-checkin
  description: Ambiente de HOMOLOGAÇÃO
security:
- x-api-key: []
tags:
- name: Parametrização
  description: ''
paths:
  /api/v1/loincmv/bytuss/{tuss}:
    get:
      tags:
      - Parametrização
      description: Operação responsável por consultar parametrizações com base no código TUSS, retornando os dados vinculados ao procedimento informado.
      operationId: findLoincByTussCode
      parameters:
      - name: tuss
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Loinc encontrado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoincMVResponseV1'
components:
  schemas:
    TussDTO:
      type: object
      properties:
        code:
          type: string
        tableCode:
          type: string
        term:
          type: string
        fabricatorReferences:
          type: string
        fabricator:
          type: string
        registerAnvisa:
          type: string
        riskClassification:
          type: string
        presentation:
          type: string
        laboratory:
          type: string
        initials:
          type: string
        detailsDescription:
          type: string
        groupName:
          type: string
        groupDescription:
          type: string
        terminology:
          type: string
        tussCode:
          type: string
        sendType:
          type: string
        fullPresentation:
          type: string
    LoincMVResponseV1:
      type: object
      properties:
        name:
          type: string
        examType:
          type: string
        loincCode:
          type: string
        activated:
          type: boolean
        mvCode:
          type: string
        scheduled:
          type: boolean
        examsType:
          type: integer
        preparation:
          type: string
        tuss_code:
          type: string
        tuss:
          $ref: '#/components/schemas/TussDTO'
        specimen:
          $ref: '#/components/schemas/SpecimenDTO'
        itemAgendamento:
          type: array
          items:
            $ref: '#/components/schemas/ItemAgendamentoDTO'
    SpecimenDTO:
      type: object
      properties:
        name:
          type: string
        activated:
          type: boolean
        variation:
          type: string
    ItemAgendamentoDTO:
      type: object
      properties:
        itemAgendamentoId:
          type: integer
        exaLabId:
          type: integer
        exaRxId:
          type: integer
        checkin:
          type: boolean
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
