openapi: 3.2.0
info:
  title: Integração Hub Operadora Financeiro e atendimento API
  version: 1.0.0
  description: '**Personal Health · Integração Hub Operadora** reúne as APIs que levam ao **app Personal** os serviços da **operadora de saúde**: dados do beneficiário e da carteirinha, **rede credenciada** (guia médico), guias e utilização do plano, dependentes, **histórico de relacionamento** com o beneficiário, **cadastros auxiliares** para telas e filtros (UF, município, bairro, recursos e especialidades) e **tokens** para fluxos que exigem confirmação rápida.


    A integração é voltada a **operadoras** com **contrato ativo** junto à **MV Global Health** no ecossistema Personal.


    Inclua em **todas** as requisições o cabeçalho **`x-api-key`** fornecido pelo time de integração. O ambiente disponível é **somente Produção**.


    Detalhes de parâmetros, formatos de data e regras próprias da sua operação devem ser alinhados no **contrato técnico** e com o time de integração; esta documentação serve como **referência geral**.

    '
servers:
- url: https://api.globalhealth.mv/prod/personal-hub-operadora-api
  description: Ambiente de PRODUÇÃO
security:
- x-api-key: []
tags:
- name: Financeiro e atendimento
  description: Histórico de interações com o relacionamento (call center).
paths:
  /api/Funcoes/GetHistoricoCallCenter/{numerocarteira}:
    get:
      tags:
      - Financeiro e atendimento
      summary: GetHistoricoCallCenter
      description: 'Histórico de **interações com o relacionamento** (call center) **disponível para o beneficiário no aplicativo ou portal** — protocolos, fases, observações e datas, quando liberados pela operadora.


        A lista reflete apenas atendimentos **habilitados para visualização pelo beneficiário** e costuma apresentar os registros **mais recentes primeiro**. Não há parâmetros além da carteirinha na URL.

        '
      parameters:
      - name: numerocarteira
        in: path
        required: true
        schema:
          type: string
        description: Carteirinha do beneficiário cujo histórico será consultado.
      responses:
        '200':
          description: Lista de registros de histórico (pode ser vazia).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VwClinicApiHisCallCenter'
        '400':
          description: Requisição inválida.
        '401':
          description: Não autorizado.
        '500':
          description: Erro interno do servidor.
components:
  schemas:
    VwClinicApiHisCallCenter:
      type: object
      description: 'Registro de **atendimento ao beneficiário** (relacionamento): tipo, fase, solicitação, resposta e datas. Os nomes dos campos no JSON podem variar (**camelCase** / **PascalCase**).

        '
      additionalProperties: true
      properties:
        cdatendcallcenter:
          type: string
          description: Código do atendimento no call center.
        dstipatendcallcenter:
          type: string
          description: Descrição do tipo de atendimento ou canal.
        dsfaseatendcallcenter:
          type: string
          description: Identificador ou código da fase do protocolo no fluxo de atendimento.
        cdfaseatendcallcenter:
          type: string
          description: Descrição legível da fase do atendimento (etapa do protocolo).
        dsconsideracaooperadora:
          type: string
        dtinicio:
          type: string
          description: Início do atendimento (data/hora conforme retorno da API).
        cdtipatendcallcenter:
          type: string
        dssolicitacao:
          type: string
        dsobservacao:
          type: string
        dsresposta:
          type: string
        dtconclusao:
          type: string
        cdMatAlternativa:
          type: string
        cdMatricula:
          type: string
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
