openapi: 3.0.0
info:
  title: Clinic Agenda Agendamento Movimentações de Visitantes API
  version: 1.0.0
  description: Esta API permite consultar as agendas disponíveis no sistema Clinic, retornando informações sobre dias e horários que possuem disponibilidade para agendamento.
servers:
- url: https://api.globalhealth.mv/available-appointments/api
  description: Ambiente de PRODUÇÃO
- url: https://api.globalhealth.mv/hml/available-appointments/api
  description: Ambiente de HOMOLOGAÇÃO
- url: https://api.globalhealth.mv/qa/available-appointments/api
  description: Ambiente de QA
security:
- x-api-key: []
tags:
- name: Movimentações de Visitantes
paths:
  /api/v1/entry-control-protocols/{id}/visitor-movements:
    post:
      tags:
      - Movimentações de Visitantes
      operationId: createVisitorMovement
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitorMovementDTO'
            example:
              name: John Doe
              phone: 11 997779777
              document: '01001001000'
              photoUrl: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStUns88AiRdT-Qo5nFZN19JM8OPAvJURCmEfyKroeSgg&s
      responses:
        '200':
          description: Movimento de Visitante Criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorMovementDTO'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InternalErrorMessage'
  /api/v1/entry-control-protocols/{id}/visitor-movements/{visitorMovementId}/exit:
    put:
      tags:
      - Movimentações de Visitantes
      operationId: exitMovement
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      - name: visitorMovementId
        in: path
        required: true
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExitMovementDTO'
            example:
              exitDate: '1712061035669'
      responses:
        '200':
          description: Movimento Criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorMovementDTO'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InternalErrorMessage'
components:
  schemas:
    InternalErrorMessage:
      type: object
      properties:
        timestamp:
          type: number
          description: Timestamp em que o erro aconteceu.
        status:
          type: number
        message:
          type: string
          description: Mensagem do erro.
        path:
          type: string
          description: Path chamado no momento do Erro.
    ExitMovementDTO:
      type: object
      properties:
        exitDate:
          type: string
          description: Data de saída da pessoa, em TIMESTAMP, se aplicável.
          examples:
          - '1712061035669'
    VisitorMovementDTO:
      type: object
      properties:
        name:
          type: string
          description: Nome da Pessoa
          examples:
          - John
          - Marry
        phone:
          type: string
          description: telefone da Pessoa
        email:
          type: string
          description: Email da Pessoa
        document:
          type: string
          description: Documento da Pessoa
        photoUrl:
          type: string
          description: URL com foto da Pessoa
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
