{
  "openapi": "3.0.0",
  "info": {
    "title": "News - Global Health",
    "version": "1.0.0",
    "description": "Esta API permite o envio de mensagens de notificação para os usuários do aplicativo Global Health, possibilitando a comunicação direta e automatizada com os pacientes ou profissionais de saúde"
  },
  "servers": [
    {
      "url": "https://api.globalhealth.mv/hml",
      "description": "Ambiente de HOMOLOGAÇÃO"
    },
    {
      "url": "https://api.globalhealth.mv/prod",
      "description": "Ambiente de PRODUÇÃO"
    }
  ],
  "paths": {
    "/news/v2/send": {
      "post": {
        "tags": [
          "News"
        ],
        "summary": "Envia uma notificação ao paciente",
        "description": "Endpoint responsável por enviar mensagens internas aos usuários do aplicativo de saúde, permitindo a transmissão de avisos, lembretes ou outras comunicações relevantes.",
        "security": [
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotificationPayload"
                },
                "example": [
                  {
                    "personalHealthLogin": "mv@mv.com.br",
                    "message": "Caro paciente, boa segunda-feira!",
                    "title": "Mensagem",
                    "clientKey": "mvsistemas",
                    "status": "CREATED",
                    "type": "INTERNAL",
                    "avatar": "ws://api.exemplo.com/chat"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso."
          },
          "400": {
            "description": "Requisição inválida. Verifique os dados enviados."
          },
          "500": {
            "description": "Erro interno do servidor."
          }
        }
      }
    },
    "/notification/push": {
      "post": {
        "tags": [
          "Notification"
        ],
        "summary": "Envia uma notificação push",
        "description": "Endpoint responsável por enviar notificação push com mensagem, título e destinatário (e-mail).",
        "security": [
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPushPayload"
              },
              "example": {
                "message": "Exemplo de Mensagem",
                "title": "Exemplo de Titulo",
                "to": "email@email.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notificação enviada com sucesso."
          },
          "400": {
            "description": "Requisição inválida. Verifique os dados enviados."
          },
          "500": {
            "description": "Erro interno do servidor."
          }
        }
      }
    },

    "/notification/email/send": {
      "post": {
        "tags": [
          "Notification"
        ],
        "summary": "Envia uma notificação email",
        "description": "Endpoint responsável por enviar notificação por email.",
        "security": [
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationEmailPayload"
              },
              "example": {
                "modelKey": "CHAVE_DO_MODELO",
                "clientKey": "chave-do-cliente",
                "productKey": "CHAVE_DO_PRODUTO",
                "tags": {
                  "NOME_DA_TAG": "VALOR DA TAG"
                },
                "to": "email@email.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notificação enviada com sucesso."
          },
          "400": {
            "description": "Requisição inválida. Verifique os dados enviados."
          },
          "500": {
            "description": "Erro interno do servidor."
          }
        }
      }
    }    
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "NotificationPayload": {
        "type": "object",
        "properties": {
          "personalHealthLogin": {
            "type": "string",
            "format": "email",
            "example": "mv@mv.com.br",
            "description": "E-mail do paciente que receberá a mensagem."
          },
          "message": {
            "type": "string",
            "example": "Caro paciente, boa segunda-feira!",
            "description": "Conteúdo da mensagem a ser enviada."
          },
          "title": {
            "type": "string",
            "example": "Mensagem",
            "description": "Título da mensagem exibido na notificação."
          },
          "clientKey": {
            "type": "string",
            "example": "mvsistemas",
            "description": "Identificador do cliente emissor da mensagem."
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "SENT",
              "FAILED"
            ],
            "example": "CREATED",
            "description": "Status inicial da mensagem."
          },
          "type": {
            "type": "string",
            "enum": [
              "INTERNAL",
              "LINK"
            ],
            "example": "INTERNAL",
            "description": "Define o tipo da mensagem:\n- INTERNAL: mensagem interna, visível um texto simples dentro do app.\n- LINK: mensagem com link externo."
          },
          "url": {
            "type": "string",
            "example": "URL do Link enviado",
            "description": "Para mensagens do tipo LINK, enviar nesse campo o link que o paciente deve abrir."
          },
          "avatar": {
            "type": "string",
            "example": "ws://api.exemplo.com/chat"
          }
        },
        "required": [
          "personalHealthLogin",
          "message",
          "title",
          "clientKey",
          "status",
          "type"
        ]
      },
      "NotificationEmailPayload": {
        "type": "object",
        "properties": {
          "modelKey": {
            "type": "string",
            "example": "CHAVE_DO_MODELO",
            "description": "Chave do modelo."
          },
          "clientKey": {
            "type": "string",
            "example": "chave-do-cliente",
            "description": "Chave do cliente."
          },
          "productKey": {
            "type": "string",
            "example": "CHAVE_DO_PRODUTO",
            "description": "Chave do produto."
          },
          "tags": {
            "type": "object",
            "description": "Tags chave/valor para o modelo"
          },
          "to": {
            "type": "string",
            "format": "email",
            "example": "email@email.com",
            "description": "E-mail do destinatário que receberá a notificação."
          }
        },
        "required": [
          "modelKey",
          "clientKey",
          "productKey",
          "to"
        ]
      },
      "NotificationPushPayload": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Exemplo de Mensagem",
            "description": "Conteúdo da mensagem a ser enviada na notificação."
          },
          "title": {
            "type": "string",
            "example": "Exemplo de Titulo",
            "description": "Título da notificação."
          },
          "to": {
            "type": "string",
            "format": "email",
            "example": "email@email.com",
            "description": "E-mail do destinatário que receberá a notificação."
          }
        },
        "required": [
          "message",
          "title",
          "to"
        ]
      }
    }
  }
}