openapi: 3.0.0
info:
  title: Clinic Connect
  version: 1.0.0
  description: Esta API permite a integração com o sistema Clinic por meio do Clinic Connect, facilitando a comunicação e o compartilhamento de dados entre plataformas.
servers:
  - url: https://api.globalhealth.mv/clinic-connect/api/
    description: Ambiente de PRODUÇÃO
  - url: https://api.globalhealth.mv/hml/clinic-connect/api/
    description: Ambiente de HOMOLOGAÇÃO
  - url: https://api.globalhealth.mv/qa/clinic-connect/api/
    description: Ambiente de QA
security:
  - x-api-key: []
paths:
  /v1/obstetric-plans:
    get:
      tags:
        - Planos Obstétricos
      summary: Consultar planos obstétricos.
      description: Endpoint utilizado para buscar planos obstétricos com base em filtros específicos, permitindo consultas direcionadas conforme os critérios informados
      parameters:
        - name: identificationNumber
          in: query
          schema:
            type: string
          description: CPF da gestante utilizado como critério de filtragem
        - name: page
          in: query
          schema:
            type: integer
          description: Número da página da consulta
        - name: size
          in: query
          schema:
            type: integer
          description: Quantidade de registros por página
        - name: sort
          in: query
          schema:
            type: string
          description: 'Critério de ordenação dos resultados (ex.: name,asc ou date,desc)'
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ObstetricPlanConnectDTO'
        '400':
          description: Requisição inválida. Verifique os dados enviados.
        '500':
          description: Erro interno do servidor.
  /v1/clinics:
    post:
      tags:
        - Clínicas
      summary: Criar ou alterar dados da clínica.
      description: Endpoint responsável por inserir ou atualizar os dados de uma clínica no sistema, garantindo que as informações cadastrais estejam sempre atualizadas.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicConnectDTO'
      responses:
        '201':
          description: Clínica cadastrada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicConnectResponseDTO'
        '400':
          description: Requisição inválida. Verifique os dados enviados.
        '500':
          description: Erro interno do servidor.
    get:
      tags:
        - Clínicas
      summary: Consultar clínicas.
      description: Endpoint utilizado para consultar clínicas com base em filtros personalizados, possibilitando localizar unidades de acordo com os critérios desejados.
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int64
          description: ID do Clinic
        - name: externalId
          in: query
          required: false
          schema:
            type: string
          description: ID externo
        - name: subscriptionId
          in: query
          required: true
          schema:
            type: string
          description: ID da conta Clinic Connect.
      responses:
        '200':
          description: Consulta realizada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClinicConnectResponseDTO'
        '400':
          description: Requisição inválida. Verifique os dados enviados.
        '500':
          description: Erro interno do servidor.
  /v1/employees:
    post:
      tags:
        - Prestadores/Usuários
      summary: Criar ou alterar dados de prestadores/usuários.
      description: Endpoint responsável por criar ou atualizar cadastros de prestadores e usuários, mantendo as informações de profissionais e acessos sempre atualizadas.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectEmployeeDTO'
      responses:
        '201':
          description: Colaborador criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectEmployeeDTO'
        '400':
          description: Requisição inválida.
        '500':
          description: Erro interno no servidor.
    get:
      tags:
        - Prestadores/Usuários
      summary: Consultar prestadores/usuários.
      description: Endpoint utilizado para consultar prestadores e usuários com base em filtros definidos, retornando apenas os registros que atendem aos critérios informados.
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int64
          description: ID do Clinic
        - name: subscriptionId
          in: query
          required: true
          schema:
            type: string
          description: ID da conta Clinic Connect
        - name: login
          in: query
          schema:
            type: string
          description: Login do prestador
      responses:
        '200':
          description: Lista de colaboradores retornada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConnectEmployeeDTO'
        '500':
          description: Erro interno no servidor.
  /v1/insurances:
    post:
      summary: Criar ou alterar dados de convênios.
      description: Endpoint responsável por criar ou atualizar convênios, permitindo o gerenciamento centralizado das operadoras de saúde vinculadas ao sistema.
      parameters: []
      tags:
        - Convênios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectInsuranceDTO'
      responses:
        '201':
          description: Convênio criado com sucesso
        '400':
          description: Requisição inválida
        '500':
          description: Erro interno do servidor
    get:
      summary: Consultar convênios.
      description: Endpoint que retorna uma lista de convênios com base nos filtros informados, facilitando a localização e o gerenciamento das operadoras cadastradas.
      tags:
        - Convênios
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int64
          description: ID do Clinic
        - name: externalId
          in: query
          required: false
          schema:
            type: string
          description: ID externo
        - name: subscriptionId
          in: query
          required: true
          schema:
            type: string
          description: ID da conta Clinic Connect
      responses:
        '200':
          description: Lista de seguros retornada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConnectInsuranceDTO'
        '400':
          description: Parâmetros de filtro inválidos
        '500':
          description: Erro interno do servidor
  /v1/services:
    post:
      summary: Criar ou alterar dados de serviços.
      description: Endpoint utilizado para criar ou atualizar serviços, permitindo o cadastro e manutenção dos procedimentos oferecidos pela clínica.
      tags:
        - Serviços
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectServiceDTO'
      responses:
        '201':
          description: Serviço criado com sucesso.
          content:
            application/json: {}
        '400':
          description: Requisição inválida.
        '500':
          description: Erro interno do servidor.
    get:
      summary: Consultar serviços.
      description: Endpoint utilizado para criar ou atualizar serviços, permitindo o cadastro e manutenção dos procedimentos oferecidos pela clínica.
      tags:
        - Serviços
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int64
          description: ID do Clinic
        - name: externalId
          in: query
          required: false
          schema:
            type: string
          description: ID externo
        - name: subscriptionId
          in: query
          required: true
          schema:
            type: string
          description: ID da conta Clinic Connect
      responses:
        '200':
          description: Lista de serviços retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceGetDTO'
        '400':
          description: Parâmetros de filtro inválidos.
        '500':
          description: Erro interno do servidor.
  /v1/subscriptions:
    post:
      tags:
        - Conta
      summary: Criar conta Clinic Connect
      description: Endpoint responsável pela criação de contas no Clinic Connect, permitindo o registro de novas integrações com o sistema Clinic.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectSubscriptionDTO'
      responses:
        '201':
          description: Conta cadastrada com sucesso.
        '400':
          description: Requisição inválida. Verifique os dados enviados.
        '500':
          description: Erro interno do servidor.
  /importations/v1/patient-data:
    post:
      tags:
        - Importação de Dados
      summary: Importar dados do paciente (fluxo síncrono)
      description: |
        Importa dados do paciente no clinic-service (sync flow). Retorna ID do paciente e mensagem amigável.
        Em caso de erro, nunca expõe stack trace; a mensagem amigável é retornada no corpo da resposta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectImportationDTO'
      responses:
        '201':
          description: Paciente importado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientImportResponseDTO'
        '400':
          description: Requisição inválida.
        '401':
          description: Não autorizado.
        '403':
          description: Acesso negado.
        '500':
          description: Erro interno - mensagem amigável retornada no corpo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientImportResponseDTO'
components:
  schemas:
    PregnancyRisk:
      type: string
      enum:
        - HABITUAL
        - HIGH
      description: 'Indica o risco da gestação: habitual ou alto risco'
      example: HABITUAL
    PatientComorbiditiesStatus:
      type: string
      enum:
        - WAITING_VALIDATION
        - VALIDATED
        - VALIDATED_BY_EMPLOYEE
      description: Status da comorbidade
    PatientObstetricDiseasesStatus:
      type: string
      enum:
        - WAITING_VALIDATION
        - VALIDATED
        - VALIDATED_BY_EMPLOYEE
      description: Status da doença obstétrica
    ConnectEmployeeDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        externalId:
          type: integer
          format: int64
        subscription:
          $ref: '#/components/schemas/SimpleIdDTO'
        name:
          type: string
        login:
          type: string
        identificationNumber:
          type: string
        identificationType:
          type: string
        gender:
          type: string
        profile:
          type: string
        accreditation:
          $ref: '#/components/schemas/EmployeeAccreditationDTO'
        specialties:
          type: array
          items:
            $ref: '#/components/schemas/TermCboConnectDTO'
        treatmentPronoun:
          type: string
        councilDisplay:
          type: string
        specialtiesDisplay:
          type: string
        address:
          $ref: '#/components/schemas/AddressConnectDTO'
        activated:
          type: boolean
        email:
          type: string
        password:
          type: string
        phoneMobile:
          type: string
    EmployeeAccreditationDTO:
      type: object
      properties:
        accreditationType:
          type: string
          example: 'CRM'
        accreditationState:
          type: string
          example: 'PE'
        accreditationNumber:
          type: string
          example: '123456'
    ConnectServiceDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: null
        subscription:
          $ref: '#/components/schemas/SimpleIdDTO'
        externalId:
          type: string
          example: null
        name:
          type: string
          example: Consulta clínica geral
        price:
          type: number
          format: double
          example: 100
        passThroughValue:
          type: number
          format: double
          example: 60
        clinicValue:
          type: number
          format: double
          example: 40
        tuss:
          $ref: '#/components/schemas/TussSimpleDTO'
        preparation:
          type: string
          example: Jejum de 8h
        returnTime:
          type: integer
          format: int32
          example: 30
        minAge:
          type: integer
          format: int32
          example: 0
        maxAge:
          type: integer
          format: int32
          example: 99
        duration:
          type: integer
          format: int32
          example: 20
        gender:
          type: string
          example: ANY
        activated:
          type: boolean
          example: true
        scheduleOnline:
          type: boolean
          example: true
        insurances:
          type: array
          items:
            $ref: '#/components/schemas/ServiceInsuranceSimpleDTO'
        financialAccount:
          $ref: '#/components/schemas/FinancialAccountSimpleDTO'
        returnService: {}
        segment: {}
        scheduled:
          type: boolean
          example: false
        consentTermId:
          type: integer
          format: int64
          example: null
        consultationType:
          type: string
          example: IN_PERSON
    ServiceInsuranceSimpleDTO:
      type: object
      properties:
        insurance: {}
        price:
          type: number
          format: double
          example: 31
        passThroughValue:
          type: number
          format: double
          example: 31
        clinicValue:
          type: number
          format: double
          example: 31
      required:
        - insurance
    FinancialAccountSimpleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
    TussSimpleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 456
    ServiceGetDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type: string
          example: Consulta médica
        price:
          type: number
          format: double
          example: 100
        clinicValue:
          type: number
          format: double
          example: 60
        activated:
          type: boolean
          example: true
        duration:
          type: integer
          format: int32
          example: 30
        tuss:
          $ref: '#/components/schemas/TussDTO'
    TussDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        code:
          type: string
          example: '10101012'
        term:
          type: string
          example: Consulta médica
        description:
          type: string
          example: Descrição do serviço
        tableCode:
          type: string
          example: A123
        presentationValue:
          type: string
          example: R$ 50,00
    TermCboConnectDTO:
      type: object
      properties:
        termCode:
          type: string
    ConnectSubscriptionDTO:
      type: object
      properties:
        externalId:
          type: integer
          format: int32
        identificationNumber:
          type: string
        accessCode:
          type: string
        clientKey:
          type: string
        email:
          type: string
          format: email
        login:
          type: string
        name:
          type: string
        password:
          type: string
          format: password
        phone:
          type: string
        termCbo:
          $ref: '#/components/schemas/TermCboConnectDTO'
        accreditation:
          $ref: '#/components/schemas/EmployeeAccreditationDTO'
    ConnectInsuranceDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        subscription:
          $ref: '#/components/schemas/SimpleIdDTO'
        name:
          type: string
        tissVersion:
          $ref: '#/components/schemas/TissVersion'
        endpointAuthorization:
          type: string
        healthPlan:
          $ref: '#/components/schemas/HealthPlanDTO'
        lack:
          type: integer
          format: int32
        activated:
          type: boolean
        healthAutomation:
          type: boolean
        providerGuideIndexNumber:
          type: integer
          format: int64
        healthAutomationUnitCnes:
          type: string
        onlineSchedulingPresencialAppointment:
          type: boolean
          default: false
        onlineSchedulingTeleHealth:
          type: boolean
          default: false
        maxExamsPerGuide:
          type: integer
          format: int32
        healthPlanTypes:
          type: array
          items:
            $ref: '#/components/schemas/InsuranceHealthPlanTypeDTO'
        accessRule:
          type: string
        externalId:
          type: integer
          format: int64
    TissVersion:
      type: string
      description: Versão TISS
      enum:
        - V3_03_03
        - V3_05_00
        - V4_00_00
        - V4_00_01
        - V4_01_00
      example: V4_01_00
    HealthPlanDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: Unimed Prata
        ansCode:
          type: string
          example: '185657'
        active:
          type: boolean
          default: true
        lack:
          type: string
        insuranceType:
          type: string
          enum:
            - ANS
            - PRIVATE
            - SUS
            - ORIGIN
          example: ANS
        picture:
          type: string
        maxExamsPerGuide:
          type: integer
          format: int32
    InsuranceHealthPlanTypeDTO:
      type: object
      required:
        - name
        - ansCode
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        ansCode:
          type: string
    ClinicConnectDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        externalId:
          type: string
        subscription:
          $ref: '#/components/schemas/SimpleIdDTO'
        name:
          type: string
        cnes:
          type: string
        identificationType:
          type: string
        identificationNumber:
          type: string
        phone:
          type: string
        mobile:
          type: string
        picture:
          type: string
        activated:
          type: boolean
        additionalInformation:
          type: string
        address:
          $ref: '#/components/schemas/AddressConnectDTO'
    SimpleIdDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        externalId:
          type: string
    ClinicConnectResponseDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        cnes:
          type: string
        identificationType:
          type: string
        identificationNumber:
          type: string
        phone:
          type: string
        mobile:
          type: string
        address:
          type: string
        addressNumber:
          type: string
        zipCode:
          type: string
        addressComplement:
          type: string
        city:
          type: string
        district:
          type: string
        state:
          type: string
    AddressConnectDTO:
      type: object
      properties:
        address:
          type: string
        addressNumber:
          type: string
        zipCode:
          type: string
        addressComplement:
          type: string
        city:
          type: string
        district:
          type: string
        state:
          type: string
    ObstetricPlanConnectDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        identificationType:
          type: string
        identificationNumber:
          type: string
        patientName:
          type: string
        employeeName:
          type: string
        dum:
          type: string
          format: date-time
        pregnancyRisk:
          $ref: '#/components/schemas/PregnancyRisk'
        comorbidities:
          type: array
          items:
            $ref: '#/components/schemas/PatientComorbiditiesSimpleDTO'
        obstetricDiseases:
          type: array
          items:
            $ref: '#/components/schemas/PatientObstetricDiseasesSimpleDTO'
    ObstetricPlanFilterDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        subscriptionId:
          type: integer
          format: int64
        dum:
          type: string
        identificationNumber:
          type: string
        identificationType:
          type: string
    PatientComorbiditiesSimpleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        comorbidityName:
          type: string
        cid:
          type: string
        cidDescription:
          type: string
        statusMed:
          $ref: '#/components/schemas/PatientComorbiditiesStatus'
        statusPatient:
          $ref: '#/components/schemas/PatientComorbiditiesStatus'
    PatientObstetricDiseasesSimpleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        obstetricDiseasesName:
          type: string
        cid:
          type: string
        cidDescription:
          type: string
        statusMed:
          $ref: '#/components/schemas/PatientObstetricDiseasesStatus'
        statusPatient:
          $ref: '#/components/schemas/PatientObstetricDiseasesStatus'
    InsuranceFilterDTO:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Bradesco
        endpointAuthorization:
          type: string
          example: http://192.168.1.8:8080/autorizabradesco.wsdl
        lack:
          type: integer
          example: 30
        activated:
          type: boolean
          example: true
        externalId:
          type: integer
          example: 123
    ConnectImportationDTO:
      type: object
      description: Payload para importação de dados do paciente (Connect flow).
      properties:
        employee:
          $ref: '#/components/schemas/SimpleIdDTO'
          description: Prestador/colaborador responsável.
        subscription:
          $ref: '#/components/schemas/SimpleIdDTO'
          description: Conta/subscription Clinic Connect.
        clinicId:
          $ref: '#/components/schemas/SimpleIdDTO'
          description: Clínica por id e/ou externalId.
        employeeLogin:
          type: string
          description: Login do prestador.
          example: dr.silva
        patient:
          $ref: '#/components/schemas/PatientImportSyncDTO'
          description: Dados do paciente a importar.
        defaultTextComponentId:
          type: integer
          format: int64
          description: ID do componente de texto padrão (opcional).
          example: 42
    PatientImportSyncDTO:
      type: object
      description: Dados do paciente para importação síncrona.
      properties:
        id:
          type: integer
          format: int64
          description: Id do paciente quando o cliente envia (opcional; alternativa a externalId ou CPF).
          example: 100
        uuid:
          type: string
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        name:
          type: string
          example: João da Silva
        socialName:
          type: string
          example: João
        motherName:
          type: string
          example: Maria da Silva
        gender:
          type: string
          example: M
        birthDate:
          type: string
          example: '1990-05-15'
        documentNumber:
          type: string
          example: '12345678901'
        email:
          type: string
          example: joao.silva@email.com
        phone:
          type: string
          example: '81999990000'
        zipCode:
          type: string
          example: '50000000'
        address:
          type: string
          example: Rua das Flores
        addressNumber:
          type: string
          example: '123'
        addressComplement:
          type: string
          example: Apto 45
        district:
          type: string
          example: Boa Viagem
        city:
          type: string
          example: Recife
        state:
          type: string
          example: PE
        observation:
          type: string
          example: Paciente hipertenso
        status:
          type: string
          example: ACTIVE
        medicalRecords:
          type: array
          items:
            $ref: '#/components/schemas/MedicalRecordImportDTO'
        insurances:
          type: array
          items:
            $ref: '#/components/schemas/InsuranceImportDTO'
        externalId:
          type: string
          example: PAT001
    MedicalRecordImportDTO:
      type: object
      properties:
        date:
          type: string
          example: '2020-01-01'
          description: Data do prontuário.
        time:
          type: string
          example: '08:30:00'
          description: Horário do prontuário.
        text:
          type: string
          example: Exemplo de prontuário médico
          description: Texto do prontuário.
        attachmentUrl:
          type: string
        attachmentName:
          type: string
    InsuranceImportDTO:
      type: object
      properties:
        name:
          type: string
          example: PARTICULAR
          description: Nome do convênio.
        card:
          type: string
          example: '12345678901234'
          description: Número da carteirinha.
        expirationDate:
          type: string
          example: '2025-01-01'
          description: Data de validade da carteirinha.
    PatientImportResponseDTO:
      type: object
      description: Resposta da importação de paciente (sucesso ou erro amigável).
      properties:
        patientId:
          type: integer
          format: int64
          description: ID do paciente no clinic-service (quando sucesso).
        message:
          type: string
          description: Mensagem amigável (sucesso ou erro).
        success:
          type: boolean
          description: Indica se a importação foi bem-sucedida.
        errors:
          type: array
          items:
            type: string
          description: Lista de erros de validação (quando aplicável).
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
